*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

*.pyc
__pycache__
*.egg-info
/ANDROID-APP/.gradle
/ANDROID-APP/local.properties
/ANDROID-APP/.idea
/ANDROID-APP/.DS_Store
/ANDROID-APP/build
/ANDROID-APP/captures
.externalNativeBuild
ANDROID-APP/local.properties